html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

section {
  width: 100%;
  display: flex;
}

body section:nth-child(even) {
  background-color: #D8D8D8;
}

h1  {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #3B3B3B;
  font-size: 2.75rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #4E4E4E;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #3B3B3B;
  font-size: 2rem;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #3B3B3B;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

p {
  font-size: 0.9rem;
  line-height: 1rem;
  color: #687083;

}

/*General @1024px*/

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
    line-height: 1.25;
    width: 90%;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 1;
  }

}
/*Header and nav*/

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;
  margin-left: 24px;
}

.logo span {
  font-size: 20px;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 32px;
}

#colmar {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: #3B3B3B;
}

#academy {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: #9B9B9B;
}

nav ul {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 24px;
}

ul li a {
  margin-left: 16px;
  font-size: 1.0rem;
  text-decoration: none;
  color: #3B3B3B;
}
nav.mobile {
  display: none;
}

/*Mobile Header*/

@media only screen and (max-width: 768px) {
  header .logo, header nav {
    display: none;
  }

  nav.mobile, nav.mobile ul {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;

  }

}

/*Banner Area*/

section.banner {
  top: 64px;
}

.img-banner {
  width: 60%;
  height: auto;
  margin: 32px 24px;

}

.img-banner img {
  width: 100%;
  height: auto;
}

.info-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 400px;
}

.info-banner a {
  background-color: #4E4E4E;
  width: 100%;
  margin-right: 16px;
  text-align: center;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #FFFFFF;
  transition: all 250ms ease 200ms;
}

.info-banner a:hover {
  background-color: #FFFFFF;
  color: #000000;
}

/*Banner @1024px*/

@media only screen and (max-width: 1024px) {
  .banner-img {
    width: 50%;
    margin-left: 16px;
  }

  .info-banner a {
    width: 90%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

/*Banner Area-Mobile*/

@media only screen and (max-width: 768px) {
  section.banner {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .img-banner {
    width: 100%;
    height: 325px;
    background-image: url(../capstone_colmar_assets/images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px 0px 0px 0px;
  }

  .img-banner img {
    display: none;

  }

  .info-banner {
    margin: 32px 16px 32px 16px;
    text-align: left;
  }

  .info-banner a, .info-banner h1, .info-banner h2 {
    width: 100%;
    margin-right: 0px;
  }
}
