html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

section {
  width: 100%;
  display: flex;
}

body section:nth-child(even) {
  background-color: /*#D8D8D8;*/ #AEB4C7;
}

h1  {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #3B3B3B;
  font-size: 2.75rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #4E4E4E;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #3B3B3B;
  font-size: 2rem;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #3B3B3B;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

p {
  font-size: 0.9rem;
  line-height: 1rem;
  color: #687083;

}

/*General @1024px*/

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
    line-height: 1.25;
    width: 90%;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 1;
  }

}
/*Header and nav*/

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;
  margin-left: 24px;
}

.logo span {
  font-size: 20px;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 32px;
}

#colmar {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: #3B3B3B;
}

#academy {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: #9B9B9B;
}

nav ul {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 24px;
}

ul li a {
  margin-left: 16px;
  font-size: 1.0rem;
  text-decoration: none;
  color: #3B3B3B;
}
nav.mobile {
  display: none;
}

/*Mobile Header*/

@media only screen and (max-width: 768px) {
  header .logo, header nav {
    display: none;
  }

  nav.mobile, nav.mobile ul {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;

  }

}

/*Banner Area*/

section.banner {
  top: 64px;
}

.img-banner {
  width: 60%;
  height: auto;
  margin: 32px 24px;

}

.img-banner img {
  width: 100%;
  height: auto;
}

.info-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 400px;
}

.info-banner a {
  background-color: /*#4E4E4E;*/ #EE6F6F;
  width: 100%;
  margin-right: 16px;
  text-align: center;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #FFFFFF;
  transition: all 250ms ease 200ms;
}

.info-banner a:hover {
  background-color: #FFFFFF;
  color: #4E4E4E;
}

/*Banner @1024px*/

@media only screen and (max-width: 1024px) {
  .img-banner {
    width: 50%;
    margin-left: 16px;
  }

  .info-banner a {
    width: 90%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

/*Banner Area-Mobile*/

@media only screen and (max-width: 768px) {
  section.banner {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .img-banner {
    width: 100%;
    height: 325px;
    background-image: url(../capstone_colmar_assets/images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px 0px 0px 0px;
  }

  .img-banner img {
    display: none;


  }

  .info-banner {
    margin: 32px 16px;
    text-align: left;
  }

  .info-banner a, .info-banner h1, .info-banner h2 {
    width: 100%;
    margin-right: 0px;
  }
}

/*Information about Academy*/

/*Image with Content*/

.academy-information {
  background-color: White;
}

.information-main {
  margin: 0 1.5rem 2rem;
  display: flex;
}

.information-maintwo {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.information-maintwo img {
  max-width: 100%;
  margin: 1.75rem 0;
  padding: 0.25rem;
  background-color: #f3f3f3de;
  opacity: 0.9;
}


.information-maintwo h3 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.information-maintwo p {
  margin-bottom: 2rem;
  line-height: 1.55rem;
}

.information-maintwo p:nth-child(2n) {
  font-size: 0.85rem;
}

.sidebar-mobile {
  display: none;
}

/*Side Column*/

.sidebar-orientation {
  margin: 1.6rem 0 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.sidebar {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #f3f3f3de;
  border-radius: 1rem 0;
}

.sidebar img {
  width: 35%;
  height: auto;
  padding: 0.5rem;
  border-radius: 1rem;
}

.text {
  margin-left: 1.2rem;
}

.text h4 {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.text p {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

.readmore a {
  color: #FF3B3F;
  font-weight: bold;
  font-family: "Open Sans";
  text-decoration: none;
}

.readmore a:hover {
  transition: 500ms linear;
  text-decoration: underline;
}

/*.firstSide:hover {
  background-color: #E9E9E9;
  transition: 500ms ease-in-out 50ms;
  border-radius: 0 1rem;
}*/

/* First Section Mobile View  */

@media only screen and (max-width: 480px) {

  .information-main {
    margin: 0;
  }

  .information-maintwo {
    display: none;
  }

  .sidebar-orientation {
    padding-right: 1rem;
  }

  .sidebar {
    flex-direction: column;
    border: 0rem;
    margin-bottom: 3rem;
    margin-left: -0.5rem;
  }

  .sidebar img {
    display: none;
  }

  .sidebar img:nth-child(2) {
    display: block;
    width: 100%;
    padding: 0;
    border-radius: 0;
  }

  .text {
    display: flex;
    margin-left: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
  }

  .text p {
    display: flex;
    width: 100%;
  }

  .readmore {
    margin-bottom: 1rem;
  }
